.grid {
    background-color: #000;
    color: white;
    border-radius: 8px;
    padding: 16px;
    margin-top: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100%;

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

}