.container{
    display: flex;
    gap: 4px;
    padding-top: 20px;

    button{
        background: #000;
        border: none;
        outline: none;
        color: #fff;
        padding: 10px 15px;
        border-radius: 4px;
        width: 100px;

        &:hover{
            background: #333;
            cursor: pointer;
        }
    }
}