.stateHookClient {
    margin-top: 80px;

    .inputContainer {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;

        .taskInput {
            display: block;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .taskPriority {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .addButton {
            background-color: black;
            color: white;
            padding: 8px 16px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: rgba(0, 0, 0, 0.7);
            }
        }
    }

    .warning {
        color: red;
        margin-bottom: 20px;
    }

    .taskList {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

}