  .inputContainer {
      display: flex;
      gap: 20px;
      margin-bottom: 20px;

      .taskInput {
          display: block;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
      }

      .actionButton {
          background-color: black;
          color: white;
          padding: 8px 16px;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
              background-color: rgba(0, 0, 0, 0.7);
          }
      }
  }