$light-bg: #f0f0f0;
$light-text: #333;
$dark-bg: #222;
$dark-text: #fff;

.themeCardwContextAPICard {
    padding: 2rem;
    border-radius: 8px;
    transition: all 0.3s ease;
    border: 1px solid #ccc;


    :global(.app-container.theme-light) & {
        background-color: $light-bg;
        color: $light-text;
    }

    :global(.app-container.theme-dark) & {
        background-color: $dark-bg;
        color: $dark-text;
        border-color: #555;
    }
}

.toggleBtn {
    margin-top: 20px;
    padding: 20px 40px;
    background-color: #fff;
    border: 3px solid #000;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease;

    // &:hover {
    //     background-color: #000;
    //     color: #fff;
    // }
}