.doughnutChartContainer {
    margin-top: 60px;
    width: 100%;

    @media (width >=1200px) {
        margin-top: 80px;
    }

    .filtersWrapper {
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin-bottom: 40px;

        .filter {
            display: flex;
            gap: 12px;
        }
    }

    .chartsWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media (width >=1200px) {
            flex-direction: row;
        }

        .chartContainer {
            height: 400px;
            flex: 1;
        }
    }
}