.contextHookClientContainer {
    margin-top: 100px;

    .breakLine {
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: bold;
        width: 100%;
        background: black;
        color: white;
        text-align: center;
        margin-top: 50px;
    }
}